$mainColor1 : #00730C;
$mainColor2 : #0B0B0B;
$mainColor3 : #0C4B35;
$typoColorMain : #212529;
$typoColorSecondary : #FFFFFF;
$typoColorSuplemetary: #676767;
$breakpoint_xxl: 1400px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
$sm : "mobile";
$md : "tablet";
$xxl : "desktop";

